.margins-header {
  position: relative;
  box-shadow: 0px 0px 10px rgba(16, 15, 100, 0.08);
  background: white;
  padding: 25px;
  border-radius: 5px;
  z-index: 1;
}

.margins-header-item {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

.mh2 {
  border-left: 2px solid #00a7ff;
  border-right: 2px solid #00a7ff;
}

.margins-body {
  background-color: rgba(255, 198, 118, 0.1);
  position: relative;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0 50px 0;
}

.margins-content {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.margins-body .child {
  display: none;
}

.margins-buttons {
  display: flex;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .margins-header {
    flex-direction: column;
    gap: 20px;
  }
  .margins-header-item {
    padding: 20px;
    flex-direction: column;
  }

  .mh2 {
    border: 0;
  }

  .margins-body .head {
    display: none;
  }

  .margins-body .child {
    display: block;
  }

  .margins-body .row {
    flex-direction: column-reverse !important;
  }
}

@media only screen and (max-width: 992px) {
  .margins-body {
    justify-content: center;
  }
}
